@charset "utf-8";
@font-face {
  src: url(../fonts/Brusher.ttf);
  font-family: 'brusher';
}
@font-face {
  src: url(../fonts/edosz.ttf);
  font-family: 'edosz';
}
@font-face {
  src: url(../fonts/Brushcrazy\ DEMO.otf);
  font-family: 'brushify';
}
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90%; 
  margin: 0 auto;
}

.loginPage .wrapper { max-width: 100%; }
/*=================================
  Header styling starts here
=================================*/

/* index page header styling start here  */
.loginPage header {
  width: 100%;
  padding: 0.5% 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.loginPage header .wrapper { display: block;}

.loginPage header a { 
  color: #FFF;
  font-family: 'edosz';
  font-size: 50px;
  text-transform: uppercase;
}

.loginPage header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.horizontal-line {
  width: 45%;
  height: 0;
  text-indent: -9999px;
  border-bottom: 1px solid #FFF;
}
/* index page header styling ends here */
/* rest of the page header styling starts here */
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

header .wrapper { position: relative; }

header.active { background-color: rgba(0,0,0,0.4); }

.hamburger { display: none; }

header > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 a { 
  color: #FFF;
  font-family: 'edosz';
  font-size: 45px;
  text-transform: uppercase;
}

.navbar a {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar li {
  padding: 25px 10px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}


.navbar li::before{
  content: " ";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}


.navbar li:hover { background-color: rgba(0, 0, 0, 0.5); }

.navbar li:hover::before{ background-color: #FFF; }

.navbar li:last-child::before { content: none; }

.navbar li:last-child { 
  padding: 5px 10px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}


.navbar li:last-child:hover { background-color: rgba(0,0,0,0.5); }

.ellipsis {
  text-indent: -9999px;
}

.ellipsis::before {
  content: "\f142";
  padding: 2px;
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 15px;
  color: #FFF;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.social-links {
  padding: 1% 0.8%;
  border-radius: 50px;
  display: none;
  position: absolute;
  top: 100%;
  right: -1.5%;
  background-color: rgba(255,255,255,0.5);
}

.social-links li {
  display: block;
  padding-bottom: 7px;
}

.social-links li:last-child { padding: 0; }

.social-links .facebook,
.social-links .instagram,
.social-links .twitter,
.social-links .youtube {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  transition: 0.3s ease-in-out;
}

.social-links .facebook { background-image:  linear-gradient( 135deg, #1F2F98 ,	#4ADEDE ); }
.social-links .facebook:hover { box-shadow: 0px 10px 10px rgba(0,0,0,0.4); }

.social-links .instagram { background-image:  linear-gradient( 135deg, #240E8B ,	#F04393 ); }
.social-links .instagram:hover { box-shadow: 0px 10px 10px rgba(0,0,0,0.4); }

.social-links .twitter { background-image:  linear-gradient( 135deg, #205072 ,	#56C596 ); }
.social-links .twitter:hover { box-shadow: 0px 10px 10px rgba(0,0,0,0.4); }

.social-links .youtube { background-image:  linear-gradient( 135deg, #F04393 ,	#F9C449 ); }
.social-links .youtube:hover { box-shadow: 0px 10px 10px rgba(0,0,0,0.4); }


.social-links .facebook::before { content: "\f09a" }

.social-links .facebook::before,
.social-links .instagram::before,
.social-links .twitter::before,
.social-links .youtube::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translateX(-50%) translateY(-50%);
  float: none;
  color: #FFF;
}
/* rest of the page header styling ends here */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/


/* index page banner section styling start here */
.loginPage .banner {
  background: url(/assets/images/card1.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.loginPage .banner .wrapper {
  width: 100%;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100vh;
  text-indent: -9999px;
  background: url(/assets/images/card1.jpg) 50% 50% no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.loginPage .banner-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%)  translateY(-50%);
  -ms-transform: translateX(-50%)  translateY(-50%);
  transform: translateX(-50%)  translateY(-50%);
}

.loginPage .banner h2 {
  padding-top: 0;
  padding-bottom: 2%;
  color: #FFF;
  font-size: 25px;
  font-family: 'edosz';
  font-size: 28px;
  opacity: 0;
  text-align: center;
  text-shadow: 5px 10px 5px rgba(0,0,0,0.9);
  -webkit-animation: slideDown 0.8s ease-in-out 2s forwards;
  animation: slideDown 0.8s ease-in-out 2s forwards;
}

@-webkit-keyframes slideDown {
  0%{
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0%{
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.loginPage .banner h2 span { color: rgb(250, 204, 0); }

.loginPage .banner-content ul {
  opacity: 0;
  text-align: center;
  -webkit-animation: slideDown 0.8s ease-in-out 2.5s forwards;
  animation: slideDown 0.8s ease-in-out 2.5s forwards;
}

.loginPage .banner-content a {
  padding: 8px 100px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 700;
  color: #FFF;
  background-color: #004445;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.banner-content ul li:first-child a {
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.banner-content ul li:last-child a {
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}

.banner-content ul li a:active { 
  -webkit-transform: scale(0.95); 
  -ms-transform: scale(0.95); 
  transform: scale(0.95);
}
/* index page banner section styling ends here */

/* index page modal section styling start here */
.modal {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* form modal styling starts */
.form-modal {
  width: 70%;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  display: none;
  position: relative;
  background-color: #FFF;
  -webkit-box-shadow: 5px 10px 18px rgba(0,0,0,0.5);
  box-shadow: 5px 10px 18px rgba(0,0,0,0.5);
  overflow: hidden;
  -webkit-animation: slideDown 0.6s ease-in-out forwards;
  animation: slideDown 0.6s ease-in-out forwards;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.sign-up-form,
.sign-in-form {
  width: 50%;
  height: 100%;
  padding: 4%;
  display: inline-block;
  background-color: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-up-form {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.sign-in-form {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.modal h3 {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3%;
}

.sign-up-form > span,
.sign-in-form > span {
  padding-bottom: 3%;
  display: block;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
}

form label {
  font-size: 12px;
  text-transform: uppercase;
}

.sign-up-form input,
.sign-in-form input {
  width: 100%;
  height: 35px;
  padding: 2% 5%;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-bottom: 2%;
  display: block;
  background-color: rgba(0,0,0,0.1);
  border-style: none;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.form-group { position: relative; }

.form-group span {
  width: 50%;
  padding: 1.5%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 75%;
  background-color: #FFF;
  color: rgb(223, 37, 12);
  font-size: 12px;
  text-transform: capitalize;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.7);
}

.form-group span::before {
  content: " ";
  text-indent: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 1;
  right: 9%;
  bottom: -4px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.green,
.red {
  text-indent: -9999px;
  position: absolute;
  bottom: 15%;
  right: 4.5%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  visibility: hidden;
}

.green::after {
  content: "\f058";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: #004445;
}

.red::after {
  content: "\f06a";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: rgb(223, 37, 12);
}

.success input { border: 2px solid #004445; }

.success .green,
.error .red { visibility: visible; }

.error input { border: 2px solid rgb(223, 37, 12); }

.error span { visibility: visible; }

.sign-in,
.sign-up{
  padding: 2% 5%;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  color: #FFF;
  background-color: #004445;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.form-controls { text-align: center; }

.pannel-container {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  color: #FFF;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.pannel-background {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#004445) , color-stop(#2C786C) ,	to(#31AA6D));
  background-image: -o-linear-gradient(left, #004445 , #2C786C ,	#31AA6D);
  background-image: linear-gradient(to right, #004445 , #2C786C ,	#31AA6D);
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.pannel-left,
.pannel-right {
  width: 50%;
  height: 100%;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.pannel-left h2,
.pannel-right h2 {
  font-size: 30px;
  font-weight: 900;
}

.pannel-left span,
.pannel-right span {
  padding-bottom: 20%;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
}

#sign-up-form,
#sign-in-form {
  padding: 2.5% 10%;
  border: 1px solid #FFF;
  border-radius: 20px;
  color: #FFF;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: 50ms ease-in-out;
  -o-transition: 50ms ease-in-out;
  transition: 50ms ease-in-out;
}

#sign-up-form:active,
#sign-in-form:active {
  -webkit-transform: scale(0.90);
  -ms-transform: scale(0.90);
  transform: scale(0.90);
}

.pannel-left {
  left: -50%;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.pannel-right {
  right: 0;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.active .pannel-right { right: -50%; }

.active .pannel-left { left: 0; }

.active .pannel-container { left: 0; }

.active .pannel-background { right: -100%; }

.active .sign-up-form {
  z-index: 1;
  left: 50%;
  opacity: 0;
}

.active .sign-in-form {
  z-index: 2;
  left: 50%;
  opacity: 1;
}

.close {
  text-indent: -9999px;
  position: absolute;
  z-index: 4;
  top: 8%;
  right: 8%;
  background-color: #FFF;
  padding: 5px 10px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.close::after {
  content: "\f00d";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: #222222;
}
/* form modal styling ends */
/* index page modal section styling ends here */

/* home page styling starts here */
/* welcome section styling start here */
.welcome {
  padding: 2% 4%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  display: none;
  position: fixed;
  z-index: 2;
  top: 20%;
  left: -25%;
  background-color: rgb(250, 204, 0);
  -webkit-animation: slideIn 4s ease-in-out;
  animation: slideIn 4s ease-in-out;
}

.welcome span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.welcome .user {
  font-family: 'edosz';
  font-size: 20px;
}

@-webkit-keyframes slideIn {
  0% { left: -25%; }

  20% { left: 1.5%; }

  30% { left: 1%; }

  80% { left: 1%; }

  100% { left: -25%; }
}

@keyframes slideIn {
  0% { left: -25%; }

  20% { left: 1.5%; }

  30% { left: 1%; }

  80% { left: 1%; }

  100% { left: -25%; }
}
/* welcome section styling ends here */
/* slider section styling start here */
.slider figure img:first-child { display: block; }

.slider figure img:last-child { display: none;}

.slider div:first-child {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slides{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transition:.6s ease-in-out;
  -webkit-transition:.6s ease-in-out;
  -o-transition:.6s ease-in-out;
  transition:.6s ease-in-out;
}

.none { display: none; }

.slides figure{
  width: 100%;
  height: 100%;
}

.slides img { height: 100%; }

.slides > li { 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.slider h2 span {
  color: rgb(250, 204, 0);
  font-weight: 500;
}

.slider h2 {
  width: 80%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  text-align: center;
  font-family: 'edosz';
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 5px 10px 10px rgba(0,0,0,0.7);
}

.slides a {
  padding: 8px 20px;
  border-radius: 3px;
  background-color: rgba(252,66,66,0.8);
  color: #FFF;
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.slides a:hover { background-color: rgba(252,66,66,1); }

.slider-right-button,
.slider-left-button {
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  top: 49.5%;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider-right-button {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  right: 4.8%;
}

.slider-right-button::before {
  content: '\f105';
  font-family: "fontAwesome";
  text-indent: 0;
  padding: 20px;
  float: right;
  color: #FFF;
  font-size: 25px;
}

.slider-left-button {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  left: 4.8%;
}

.slider-left-button::before {
  content: '\f104';
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  padding: 20px;
  color: #FFF;
  font-size: 25px;
}

.slider-right-button:hover,
.slider-left-button:hover { background-color: rgba(0,0,0,0.4); }

.slider-controls li{
  display: block;
  text-align: center;
}

.active-slide{
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
/* slider section styling ends here */
/* merchandise section start here */
.merchandise { 
  padding: 4% 0;
  background-color: rgb(250, 204, 0);
}

.merchandise .wrapper { text-align: center;}

.merchandise h3 {
  width: 60%;
  margin: 0 auto;
  font-family: 'edosz';
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}

.merchandise p {
  padding: 1.5% 0;
  text-align: center;
}

.read-more {
  padding: 0.7% 2%;
  border: 1px solid #000;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.read-more:hover { 
  -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
/* merchandise section ends here */
/* home page styling ends here */


.block {
  display: block;
}

.none {
  display: none;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

/* index page footer styling added */
.loginPage footer{
  width: 100%;
  padding: 1.5% 0;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
}

.loginPage footer ul { text-align: center; }

.loginPage footer li { padding: 0 2%; }

.facebook,
.instagram,
.twitter,
.youtube {
  text-indent: -9999px;
  position: relative;
}

.facebook::before { content:"\f082"; }

.instagram::before { content:"\f16d"; }

.twitter::before { content:"\f099"; }

.youtube::before { content:"\f0e1"; }

.facebook::before,
.instagram::before,
.twitter::before,
.youtube::before {
  padding: 2px;
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 18px;
  color: rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* index page footer styling ends here */





 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
  /* INDEX PAGE HOVER START HERE */
  .banner-content ul li a:hover { background-color: #002627; }
  
  .close:hover::after { color: #2C786C; }
  
  .facebook:hover::before,
  .instagram:hover::before,
  .twitter:hover::before,
  .youtube:hover::before { color: rgba(255,255,255,1); }
  /* INDEX PAGE HOVER ENDS HERE */
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* INDEX PAGE RESPONSIVE START HERE */
  .horizontal-line { width: 40%; }

  .loginPage .banner h2 {
    width: 70%;
    margin: 0 auto;
  }

  .form-modal { width: 90%; }
  /* INDEX PAGE RESPONSIVE ENDS HERE */
} 

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {
  /* INDEX PAGE RESPONSIVE START HERE */
  .loginPage header a { font-size: 35px; }

  .loginPage .banner h2 { font-size: 15px; }

  .loginPage .banner-content a {
    padding: 4px 50px;
    font-size: 9px;
  }

  .banner-content ul li:first-child a {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .banner-content ul li:last-child a {
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .pannel-container { display: none; }

  .sign-up-form,
  .sign-in-form { width: 100%; }

  .active .sign-in-form,
  .active .sign-up-form { left : 0 }

  .facebook::before, 
  .instagram::before, 
  .twitter::before, 
  .youtube::before { font-size: 12px; }
  /* INDEX PAGE RESPONSIVE ENDS HERE */
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  /* INDEX PAGE RESPONSIVE START HERE */
  .loginPage header { padding: 2% 0; }

  .loginPage header ul { justify-content: center; }

  .horizontal-line { display: none; }

  .loginPage .banner h2 { padding-bottom: 7%; }

  .loginPage .banner-content li { display: block; }
  
  .loginPage .banner h2 { width: 80%; }
  
  .banner-content ul li { padding-bottom: 2%; }
  
  .loginPage .banner-content a {
    padding: 8px 70px;
    font-size: 13px;
  }

  .banner-content ul li:first-child a,
  .banner-content ul li:last-child a {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .banner-content ul li:last-child a {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-modal { width: 98%; }

  .loginPage footer { padding: 3% 0; }

  .facebook::before, 
  .instagram::before, 
  .twitter::before, 
  .youtube::before { font-size: 18px; }
  /* INDEX PAGE RESPONSIVE ENDS HERE */
}